/* Footer.css */
.footer {
    padding: 10px;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 12px;
}

.dependencies,
.dev-dependencies {
    margin: 10px 0;
}

.dependencies h4,
.dev-dependencies h4 {
    font-size: 13px;
    margin-bottom: 10px;
}

.dependencies-list,
.dev-dependencies-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    text-align: left;
}

.dependency-item {
    margin: 1px 0;
    font-size: 12px;
}